

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

.jumbotron {
	background: url('../img/congruent_pentagon.png');
}


.paypal-button.large.primary .paypal-button-content {
	height: 42px;
}




